@import '../fonts/fonts.css';


.container-izq {
    width: 50%;


}

.portada-container {
    display: flex;
    align-items: center;

    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    /* gap:10%; */

}

.nombre-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
    width: 55%;

}


.nombre-info h1 {
    display: block;
    transform: translateY(30px);
    color: #FFF;
    font-family: SF Pro Text;
    font-size: 57.6px;
    font-style: normal;
    font-weight: 400;
    margin: 0%;
}

.nombre-info span {

    color: #FFF;
    font-family: Paytone One;
    font-size: 85.164px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.linea {
    width: 74px;
    height: 2px;
    background-color: #4A55A2;


}

.Cargo {
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    gap: 15px;

}

.car p {
    color: #FFF;
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contact-button {
    display: flex;
    width: 219px;
    height: 68px;
    padding: 24.09px 36.995px;
    justify-content: center;
    align-items: center;
    gap: 8.604px;
    border-radius: 21.509px;
    background: var(--navy, #4A55A2);
    box-shadow: 0px 8px 24px 0px rgba(74, 85, 162, 0.25);
    border: none;

}

.contact-button a {
    color: #FFF;
    font-family: Nunito;
    font-size: 17.207px;
    font-style: normal;
    font-weight: 600;
    text-decoration: none;
}

.imagen-derecha {
    padding: 2%;
    width: 40%;
    height: 600px;
}

.imagen-derecha img {
    width: 489px;
    height: 472px;

}

.redes {
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-top: 30px;
}

.redes a {
    color: #FFF;
    font-family: Nunito;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
}

.linkedin {
    display: flex;
    align-items: center;
    gap: 12px;
}

.gmail {
    display: flex;
    align-items: center;
    width: 10%;
    gap: 12px;
}

@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .portada-container {

        margin: 0%;
        gap: 0%;

        justify-content: center;

    }

    .container-izq {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: 16%;

    }

    .nombre-info {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: stretch;
      


    }

    .nombre-info h1 {

        display: flex;
        justify-content: center;
        text-align: center;




        color: #FFF;
        font-family: SF Pro Text;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    .imagen-derecha {
        display: none;
    }

    .redes {
        display: none;
    }

    .boton-contacto {
        display: flex;
        justify-content: center;
    }

    .linea {
        display: none;
    }

    .Cargo {
        margin-top: 1%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0%;
        margin-bottom: 0%;
        transform: translateY(30px);
    }


}