@import '../fonts/fonts.css';


.proyecto{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 48px 15% ;
  
    
}

.proyecto-izquierda {
    display: flex;
    flex-direction: row-reverse; 
    margin-top: 2% ;
    margin-bottom: 2%;
    
}

.proyecto-derecha {
     display: flex;
     margin-top: 2% ;
    margin-bottom: 2%;
     
}

.Titulo-proyecto{
    color: #FFF;
    margin-top: 5%;
  margin-bottom: 3%;
    font-family: San Francisco;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 15%;
    margin-right:15%;
}
.proy{
    width: 100%;
    display: flex;
    gap: 60px;
    
}


.proyecto-imagen{
    width: 60%;
    height: 400px;
}
.proyecto-titulo{
    color: #FFF;
    font-family: Nunito;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 4.5px;
}

.proyecto-descripcion{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    width:90%;
    line-height: 176%; /* 42.24px */
    width: fit-content;
    
}
.proyecto-boton{
    display: flex;
    padding: 27.519px 47.533px;
    justify-content: center;
    align-items: center;
    gap: 8.339px;
    border-radius: 45.865px;
    background: #FFF;
    color: #000;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3.002px;
    
    margin-top: 3%;
    margin-bottom: 5%;
    
}
.proyecto-contenido a{
    text-decoration: none;
}



.proyecto-boton:hover {
    background-color: #4A55A2;
    color: #FFFFFF; 
  }

  @media screen and (max-width: 768px) {
    .proy{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 0%;
    }
    .proyecto-titulo{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }


    .separar{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

   .Titulo-proyecto{
    display: flex;
    font-size: 48px;
    justify-content: center;
   }
    .proyect{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap:8px;
  
    }
    .proyecto-descripcion{
        text-align: center;
        font-size: 16px;
    }
    .proyecto-contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
      
     
    }
    .proyectos-container{
        gap:10px;
    }
    .proyecto-imagen{
        width: 100%;
        height: 100%;
    }
    .proyecto-boton{
        width: 100%;
        font-size: 16px;
    }
    
    
  
  }