@import '../fonts/fonts.css';

.acerca-mi{
    
    display: flex;
    align-items: center;
    gap: 15px;
}
.linea-acerca-de-mi{
    width: 72px;
    height: 2px;
    background-color: #4A55A2;
}

.contenido-derecha{

    width: 100%;
    gap:0%;

    height: 500px;
    gap:30px;
    display: flex;
    flex-direction: column;
    
}
.acerca-de{
    display: inline-flex;
    align-items: center;
    margin-top: 5%;
    margin-left: 13%;
    margin-right: 15%;
    width: 70%;

    gap:5%;
    
}
.first{
    gap:5px;
}
.Acerca-mi{
    display: flex;
    align-items: center;
    gap: 15px;
}

.Acerca-mi p{
    margin: 0%;
    width: 655px;
    color: #FFF;
    text-align: justify;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    
  
}

.pregunta h2{
    margin: 0%;
    color: #FFF;
    font-family: San Francisco;
    font-size: 56px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.texto-largo p{
    margin: 0%;
    color: #FFF;
    text-align: justify;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    display: inline-block;
}

.imagen-izquierda{
    width: 60%;
}
.imagen-izquierda img{
    width: 300px;
}
.quien-soy-container{
    width: 60%;
}

@media screen and (max-width: 768px) {
    .acerca-de{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        gap:0%;
        margin-bottom: 1%;
        
    }
    .imagen-izquierda {
        display:none;
    }
    .imagen-izquierda img{
        display: none;
    }

    .contenido-derecha{
        display: flex;
        margin: 0%;
        height: auto;
    }
    .pregunta {
        display: flex;
        justify-content: center;
    }
    .Acerca-mi{
        display: none;
    }
    .texto-largo p{
        text-align: center;
    }
}