.skills{
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 2%;
  margin-left: 15%; 
  margin-right: 15%;
 
 
 
}
.skills-titulo{
  margin-bottom: 2%;
  
  color: #FFF;
  font-family: San Francisco;
  font-size: 56px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  
}
.skills-cuadros {
  display: flex;
  justify-content: space-between;
}

.cuadro {
  width: 25%;
  height: 56px;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
  padding: 1%;

  
  border-radius: 40.213px;
 
  border: 1.609px solid var(--white, #F5F5FA);
  
}

.cuadro p {
  margin: 0%;
  
  display: flex;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
 
}


.skills-cuadros-container {
  display: flex;
  gap: 24px;
  flex-direction: column;
  
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}


.skills-cuadros-group {
 
  display: flex;
  align-items: center;
  gap: 8px;
  width:100%;
  flex-wrap: nowrap;
  
  justify-content: space-evenly;
}

.skills-cuadros-group-1{
 
  display: flex;
  align-items: center;
  
  width: 80%;
  
  flex-wrap: nowrap;
  
  justify-content: space-evenly;
}
.cuadro-con-texto {
  width: auto; 
  min-width: 150px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px; 
  text-align: center; 
}

@media screen and (max-width: 768px) {
    .cuadro{
      width: 50%;
      height: 56px;
      display: flex;
      justify-content: center;
      flex-shrink: 0;
      padding: 1%;
    }

    .cuadro p{
      font-size: 16px;
    }
    .skills{
      width: 80%;
      margin-left: 10%;
      margin-right: 10%;
      gap:16px;
      
    }
    .skills-titulo{
      display: flex;
      justify-content: center;
      font-size: 48px;
    }
   
}
