@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

@font-face {
    font-family: 'San Francisco';
    src: url('./pro/SF-Pro-Text-Heavy.otf');
    type: 'opentype';
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: 'San Francisco-Bold';
    src: url('./pro/SF-Pro-Text-Bold.otf');
    type: 'opentype';
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: 'San Francisco-Regular';
    src: url('./pro/SF-Pro-Text-Regular.otf');
    type: 'opentype';
    font-weight: 300;
    font-style: normal
}